*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #00fffa;
}
header{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
header::before{
    position: absolute;
    width: 100%;
    height: 90vh;
    content: " ";
    background-image: url(img/code.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

header h1{
     font-weight: 900;
     font-size: 5rem;
     text-shadow: 5px 5px #00b9c2;
     margin-bottom: 2vh;
}

header p{
    width: 60%;
    margin-inline: auto;
    padding: 15px;
    background-color: #003448;
    border-radius: 10px;
    font-size: 20px;

}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: auto;
}
.navbar a{
    width: 100%;
    height: 2rem;
    background-color: #003448;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a:hover{
    background-color: #00b9c2;
}

.contenido{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    margin-top: 2rem;
    text-align: justify;
}

.contenido h2{
    font-size: 3rem;
}

.contenido dl{
    font-size: 20px;
    margin-left: 2%;
}
.contenido dl dt{
    font-weight: 800;
}
.contenido dl dd{
    margin-left: 2%;
}

.separador{
    height: 1vh;
    background-color: #005368;
    border: 0;
}

.pie{
    margin-top: 4vh;
    width: 100%;
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #003448;
    padding-block: 5vh;
}

#areas, #tecnologias, #ventajas{
    padding-top: 2rem;
}

.imagen{
    width: 100%;
    margin-block: 4vh;
    display: flex;
    justify-content: center;
}